name: Horusec          
   
# on: push
on:
  pull_request:
    branches:
      - master
      - release/*
      - feature/*
      - qa

jobs:
  horusec:
    name: Horusec
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run Horusec
        env:
          HORUSEC_CLI_REPOSITORY_AUTHORIZATION: ${{ secrets.HORUSEC_CLI_REPOSITORY_AUTHORIZATION }}
        run: |
          curl -fsSL https://horusec.io/bin/install.sh | bash
          horusec start -p ./ -a "$HORUSEC_CLI_REPOSITORY_AUTHORIZATION" -G "true" -u "https://api-horusec.zup.com.br" -n "ritchie-formulas"
