name: Unit Test

on: 
  pull_request:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.14'
      - name: Start tests
        run: go test -v ./.circleci/validation/...
                    